body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: mediumseagreen;
}
div, h1{
    display: flex;
    justify-content: center;
    text-align:center;
        
}
#button{
    width: 100px;
    margin-top: 10px;
    padding: 5px ;
    background-color: white;
}

#div-resultado{
    margin: 10px;
}